.content-title {
    font-weight: bold;
    font-size: 50px;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.content-text {
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: normal;
    width: 400px;
    margin: 30px auto 0 auto;
    word-break: break-all;
}